$gray1: rgb(227, 226, 226);
$white: rgb(225, 225, 225);
$primary2: rgb(249, 165, 25);
$primary3: rgb(240, 144, 0);
$gray5: rgb(75, 73, 72);
$gray2: rgb(185, 184, 183);
$danger: rgb(235, 87, 87);
$secondary1: rgb(70, 201, 236);
$secondary2: rgb(1, 181, 230);
$gray3: rgb(143, 142, 140);
$primary1: rgb(255, 206, 50);
$secondary3: rgb(1, 132, 168);
$valid: rgb(39, 174, 96);
$gray4: rgb(102, 100, 98);
$gray6: rgb(47, 46, 45);
$transparency1:rgba(185, 184, 183, .70);
$transparency2:rgba(47, 46, 45, .85);